body, table, td,tr, div { margin: 0; padding: 0;
                          font-family: Calibri;
}

#background {
    width: 720px;
    height: 270px;
    background-color: #00923e;
    position: absolute;
    font-size: 12px;

}
    #background table.content {
        width: 700px;
        height: 210px;
        background-color: #000;
        border: solid 1px #000;
        border-radius: 10px;
        margin: 10px;

    }
        table.content td,table.content th{
            border: solid 1px #000;
            text-align: center;
        }

            table.content th {
                background-color: #f8c711;
                font-size: 18px;
                text-align: center;
            }
            table.content tr {
                background-color: #fff;
            }
            table.content tr:nth-child(2n+1) {
                background-color: #c8c8c8;
            }

                table.content tr td.left {
                    text-align: right;
                }

                    table.content tr td.left img {
                        margin-right: 10px;
                        margin-left: 3px;
                    }

                table.content tr td.right {
                    text-align: left;
                }
                    table.content tr td.right img {
                        margin-left: 10px;
                        margin-right: 3px;
                    }

                table.content tr td table.nasted td{
                    border: none;
                }

                table.content tr td table.nasted td:last-child{
                    border-right: none;
                }

                table.content tr td table.nasted tr td {
                    width: 110px;
                    height: 35px;
                }

                table.content tr td table.nasted tr td.btn {
                    width: 25px;
                    height: 35px;
                    float: right;
                }
                    table.content tr td table.nasted tr td.btn img {
                        margin-top: 6px;
                        margin-left: 5px;
                    }

                table.content tr td table.nasted tr {
                    background-color: rgba(0,0,0,0)
                }

                    table.content tr td table.nasted tr td {
                        border-right: solid 2px #000;
                    }

.result {
    width: 60px;
}

th.border-top-left {
    border-top-left-radius: 0.3em;
    border: solid 2px black;
}

th.border-top-right {
    border-top-right-radius: 0.3em;
}

td.border-bottom-left {
    border-bottom-left-radius: 0.3em;
}

td.border-bottom-right {
    border-bottom-right-radius: 0.3em;
}